body{
    background: linear-gradient(90deg, #66CCFF 0%, #E2D5C3 35%, #CCFF99 90%);
}
#banners{
   margin-top: 20px;
   margin-bottom: 40px;
   border: 2px solid red;
   height: 630px;
   width: 600px;
   margin-left: 350px;
   backdrop-filter: blur(30px);
   box-shadow: 5px 10px 30px ;
   border: 2px solid rgba(255, 255, 255, 0.18);
}
.register{
    margin-top: 20px;
    margin-left: 20px;
}
#studentname{
    margin-left: 20px;
    margin-top: 5px;
}
#mothername{
    margin-left: 22px;
    margin-top: 5px;
}
#fathername{
    margin-left: 30px;
    margin-top: 5px;
}
#adress{
    margin-top: 5px;
    margin-left: 62px;
}
#phonenumber{
    margin-top: 5px;
    margin-left: 10px;
}
#statename{
    margin-top: 5px;
    margin-left: 35px;
}
#professional{
    margin-top: 5px;
    margin-left: 10px;
}
#professionalimage{
    margin-top: 10px;
    margin-left: 150px;
}
@media (min-width:300px) and (max-width:599px){
    #banners{
        margin-top: 100px;
        margin-bottom: 40px;
        border: 2px solid red;
        height: 500px;
        width: 80vw;
        margin-left: 150px;
        backdrop-filter: blur(30px);
        box-shadow: 5px 10px 30px ;
        border: 2px solid rgba(255, 255, 255, 0.18);
     }
}
@media (min-width:600px) and (max-width:1200px){
    #banners{
        margin-top: 100px;
        margin-bottom: 40px;
        border: 2px solid red;
        height: 630px;
        width: 80vw;
        margin-left: 150px;
        backdrop-filter: blur(30px);
        box-shadow: 5px 10px 30px ;
        border: 2px solid rgba(255, 255, 255, 0.18);
     }
}
@media (min-width:1400px) and (max-width:3300px){
    #banners{
        margin-top: 100px;
        margin-bottom: 40px;
        border: 2px solid red;
        height: 630px;
        width: 80vw;
        margin-left: 150px;
        backdrop-filter: blur(30px);
        box-shadow: 5px 10px 30px ;
        border: 2px solid rgba(255, 255, 255, 0.18);
     }
     .register{
        margin-top: 20px;
       text-align: center;
    }
}
